.sider {
  background-color: #ffff !important;
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sider.sider-collapsed {
  width: 80px; /* Width of collapsed sidebar */
}

.sider--arrow {
  position: absolute;
  right: 13px;
  top: 13px;
  cursor: pointer;
}

.sider--arrow.isClosed {
  right: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}

.sider--arrow.isOpen {
  right: 13px;
}

.menu {
  position: relative;
  top: 40px;
}

.main-content {
  transition: margin-left 0.3s ease; /* Smooth transition for content */
  padding: 20px;
}

.sider.sider-collapsed + .main-content {
  margin-left: 80px;
}
.ant-layout-sider-trigger {
  display: none !important;
}
