/* Table container */
.table-container {
    position: relative;
    top: 50px;
    width: 250%;
    max-width: 1200px;
    margin-left: 230px;
    overflow-x: auto;
    padding: 21px 32px 16px 42px;
    background: #fff;
    border: 1px solid #ccc;
}

/* Styles pour les titres de colonnes */
.table-container .ant-table th {
    background-color: #f0f2f5;  /* Un fond clair */
    color: #333; /* Couleur de texte sombre */
    font-size: 16px; /* Police plus grande */
    font-weight: 600; /* Poids de la police plus fort */
    text-align: center; /* Centrer le texte */
    padding: 12px 16px; /* Ajouter un peu d'espace autour du texte */
    border-bottom: 2px solid #ddd; /* Ligne sous chaque titre */
    border-radius: 5px 5px 0 0; /* Bordure arrondie en haut */
}

/* Ajouter un effet de survol sur les titres */
.table-container .ant-table th:hover {
    background-color: #e6f7ff; /* Un léger survol bleu clair */
    cursor: pointer; /* Change le curseur pour montrer que c'est interactif */
}

/* Optionnel: Vous pouvez ajouter une bordure sous chaque cellule pour mieux délimiter les lignes */
.table-container .ant-table td {
    border-bottom: 1px solid #ddd;
}
