.spin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* adapte selon la hauteur que tu veux */
  }
  
  .table {
    position: relative;
    top: 50px;
    width: 100%;
    max-width: 1200px;
    margin-left: 80px;
    margin-right: 10px;
    overflow-x: auto;
    padding: 21px 10px 16px 10px;
    background: #fff;
    border: 1px solid #ccc;
}



/* En-tête contenant le titre et le bouton */
.table-header {
    display: flex;
    position: sticky;
    top: 0;
    background: #fff;
    justify-content: space-between; /* Espace entre les éléments à gauche et à droite */
    align-items: center;
    margin-right: 20px;
    padding: 10px 10px;
    z-index: 10;
    border-bottom: 2px solid #ddd;
}

/* Table */
.table-container .ant-table {
    width: 100%; /* S'assure que la table prend toute la largeur */
    table-layout: fixed; /* Fixe la disposition pour éviter l'agrandissement */
}

/* Styles pour les titres de colonnes */
.table-container .ant-table th {
    background-color: #f0f2f5;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 12px 16px;
    border-bottom: 2px solid #ddd;
    border-radius: 5px 5px 0 0;
}

/* Ajouter un effet de survol sur les titres */
.table-container .ant-table th:hover {
    background-color: #e6f7ff;
    cursor: pointer;
}

/* Optionnel: Ajouter une bordure sous chaque cellule */
.table-container .ant-table td {
    border-bottom: 1px solid #ddd;
   
}